* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

html {
  font-size: 62.5%;
  font-family: "Karla", sans-serif;
}

body {
  background: var(--light-gray);
}

:root {
  --cyan: hsl(179, 62%, 43%);
  --bright-yellow: hsl(71, 73%, 54%);
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
  --radius: 5px;
  --rad0: 0px;
}

.container {
  width: 90%;
  min-width: 200px;
  max-width: 500px;
  height: auto;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  margin: 10vh auto;
}

.container__title {
  font-size: 1.6rem;
  font-size: 700;
  margin-bottom: 15px;
}

p {
  font-size: 1.4rem;
  font-weight: 400;
}

.container section {
  padding: 20px;
}

.container .container__section--1 {
  background: #ffff;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}

.container__section--1 .container__title {
  color: var(--cyan);
}

.container__section--1 span {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--bright-yellow);
}

.container__section--1 p {
  color: var(--grayish-blue);
  line-height: 2.5rem;
  padding: 15px 0;
}

.container .container__section--2 {
  color: var(--light-gray);
  background: var(--cyan);
}

.container__section--2 span {
  font-size: 3rem;
  font-weight: 700;
}

.container__section--2 p {
  padding-bottom: 25px;
}

.container__section--2 button {
  width: 100%;
  height: 50px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 10px 13px 2px rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: 0px 10px 13px 2px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0px 10px 13px 2px rgba(0, 0, 0, 0.26);
  background: var(--bright-yellow);
  color: var(--light-gray);
  cursor: pointer;
}

.container__section--2 button:hover {
  opacity: 0.8;
}

.container .container__section--3 {
  background: var(--cyan);
  opacity: 0.8;
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}

.container__section--3 {
  color: var(--light-gray);
  height: auto;
}

.container__section--3 ul {
  padding-top: 5px;
}

.container__section--3 ul li {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
  color: hsl(206, 14%, 80%);
}
